<!DOCTYPE html>
<html>
<head>
    <title>创建新任务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/comment.css" />
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/selector.css" />

    <script type="text/javascript" src="/js/Scripts/common.js"></script>
    <script type="text/javascript">
        if (isPhp) {
            currentUserId = '<{$currentUser->getUserId()}>';
            currentUserName = '<{$currentUser->getOriNickName()}>';
        }
        else {
            currentUserId = GetQueryString('userId');
            currentUserName = GetQueryString('userName');
        }
    </script>
    <script type="text/javascript" src="/js/Content/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/Content/js/json3.min.js"></script>
    <script type="text/javascript" src="http://w.taobao.ali.com/js/comment.js"></script>
    <script type="text/javascript" src="http://wfstatic.alibaba-inc.com/resources/public/js/jscore-min.js"></script>
    <script type="text/javascript" src="/js/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/Content/angular/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="/js/Scripts/modules/aitatask.js"></script>
    <script type="text/javascript" src="/js/Scripts/controllers/createTask.js"></script>
    <script type="text/javascript" src="http://w.taobao.ali.com/js/textareaSelect.js"></script>
</head>
<body>
    <div class="wrap ng-app:aitatask" id="ng-app" ng-app="aitatask">
        <!-- header:S -->
        <{include file="share/header.phtml"}>
        <!-- header:E -->
        <!-- taskmain:S-->
        <div class="main-box" ng-controller="CreateTaskCtrl">
            <{include file="task/left.phtml"}>
            <div class="task-right">
                <p class="task-detail-return">
                    <a ng-click="cancel()">返回</a>
                </p>
                <div class="task-detail-content">
                    <p class="tit">
                        创建新任务
                    </p>
                    <div class="task-edit">
                        <ul>
                            <li class="task-edit-left">任务标题： </li>
                            <li class="task-edit-right">
                                <input id="subject" type="text" class="task-edit-title" ng-model="subject" maxlength="500" />
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">任务描述： </li>
                            <li class="task-edit-right">
                                <textarea id="body" class="task-edit-note" ng-model="body" onFocus="$(this).autoTextarea({minHeight:70});"></textarea>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">分配给： </li>
                            <li class="task-edit-right">
                                <div class="selector selector-toggle" id="assigneeSelector" style="width: 438px">
                                    <ol class="tokenList" style="width: 150px;">
                                        <li>
                                            <input type="hidden" id="assigneeUserId" name="assigneeUserId" value="" friendname=""
                                                data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                            <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                        </li>
                                    </ol>
                                    <div class="dropWrap">
                                        <div class="popLayer" style="display: none;">
                                            <div class="decor">
                                            </div>
                                            <div class="content">
                                                <ul class="dropList">
                                                    <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">相关人员： </li>
                            <li class="task-edit-right">
                                <div class="selector selector-toggle" id="relatedSelector" style="width: 438px">
                                    <ol class="tokenList" style="width: 670px">
                                        <li>
                                            <input type="hidden" id="relatedUserIds" name="relatedUserIds" value="" friendname=""
                                                data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                            <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                        </li>
                                    </ol>
                                    <div class="dropWrap">
                                        <div class="popLayer" style="display: none;">
                                            <div class="decor">
                                            </div>
                                            <div class="content">
                                                <ul class="dropList">
                                                    <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">完成日期： </li>
                            <li class="task-edit-right">
                                <input id="duetime" type="text" class="input-small" value="" ng-model="duetime" onFocus="WdatePicker({el: 'duetime'});" readonly />
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">紧急度： </li>
                            <li class="task-edit-right task-edit-yx"><i class="ring-gray" value="0" id="task-yx-color">
                            </i>
                                <div class="task-edit-float" id="task-edit-float">
                                    <s><i></i></s>
                                    <div>
                                        <i class="ring-red">1</i><span>尽快完成</span></div>
                                    <div>
                                        <i class="ring-yellow">2</i><span>稍后完成</span></div>
                                    <div>
                                        <i class="ring-blue">3</i><span>迟些再说</span></div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">&nbsp;</li>
                            <li class="task-edit-right">
                                <input type="button" value="确认" class="task-edit-bt1" ng-click="save()">&nbsp;&nbsp;
                                <input type="button" value="取消" class="task-edit-bt2" ng-click="cancel()">
                            </li>
                        </ul>
                        <div class="clearbox">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearbox">
            </div>
        </div>
        <!-- taskmain:E-->
    </div>
    <script type="text/javascript">

        $(function () {
            $("#task-detail-but2").click(function () {
                var this0 = this;
                $("#task-alert-action").show();
                $(document).unbind("click").click(function (e) {
                    this0 == e.target || $("#task-alert-action").get(0) == e.target || jQuery.contains($("#task-alert-action").get(0), e.target) || $("#task-alert-action").hide();
                });

            });

            $("#task-yx-color").click(function () {
                var this0 = this;
                $("#task-edit-float").show();
                $(document).unbind("click").click(function (e) {
                    this0 == e.target || $("#task-edit-float").get(0) == e.target || jQuery.contains($("#task-edit-float").get(0), e.target) || $("#task-edit-float").hide();
                });

            });

            $("#task-edit-float div").click(function () {
                $("#task-yx-color").attr("class", $(this).find("i").attr("class"));
                $("#task-yx-color").attr("value", $(this).find("i").text());
                $("#task-yx-color").text($(this).find("i").text());
                $("#task-edit-float").hide();
            });

            $("#task-complete").click(function () {
                if ($(this).text() == "完成") {
                    $(this).text("已完成");
                    $(this).attr("class", "task-detail-but-yes");
                } else {
                    $(this).text("完成");
                    $(this).attr("class", "task-detail-but-no");
                }
            });
        });
            

    </script>
</body>
</html>
