<!DOCTYPE html>
<html>
<head>
    <title>与我相关的任务</title>
    <link type="text/css" rel="Stylesheet" href="/content/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="Stylesheet" href="/content/css/base.css" />
    <script src="/Content/jquery/jquery-1.7.2.min.js"></script>
    <script src="/Content/angular/angular-1.0.1.min.js"></script>
    <script src="/Content/js/moment.min.js"></script>
    <script src="/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="/Scripts/enterprise.js"></script>
    <script src="/Scripts/modules/aitatask.js"></script>
    <script src="/Scripts/controllers/getRelatedTasks.js"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top:10px;" ng-app="aitatask">
        <div>
            <h4>与我相关的任务</h4>
            <hr />
        </div>
        <div id="loading-cooper" style="display:none;">
            <div class="progress progress-striped active" style="width: 250px; margin: auto;
                margin-top: 40px;">
                <div class="bar" style="width: 100%;">
                    loading...</div>
            </div>
        </div>
        <div id="main-cooper" ng-controller="GetRelatedTasksCtrl" style="display:none;">
        <div class="option">
            <button ng-class="otherAssignToMeIcon()" ng-Click="chooseOtherAssignToMe()">
            {{otherAssignToMe.name}}({{otherAssignToMe.count}})</button>
            <button ng-class="sourceIcon(s)" ng-repeat="s in sources" ng-Click="chooseSource(s)">
            {{s.name}}({{s.count}})</button>
            <br />
            <input id="keyWord" type="text" placeholder="请输入关键字" class="input-medium" />
        </div>
        <div class="list">
            <table class="todolist table">
            <thead>
                <tr class="row_header">
                    <td class="cell_isCompleted"></td>
                    <td class="cell_source">任务来源</td>
                    <td class="cell_assignee">当前处理人</td>
                    <td class="cell_summary">摘要</td>
                    <td class="cell_dueTime">完成时间</td>
                </tr>
            </thead>
            <tbody>
                <tr class="row_body" ng-repeat="t in tasks">
                    <td class="cell_isCompleted">
                        <i ng-class="completedIcon(t);"></i>
                    </td>
                    <td>
                        {{t.source}}
                    </td>
                    <td>
                        {{t.assignee}}
                    </td>
                    <td class="cell_summary" ng-click="openUrl(t)">
                        <div class="summary">{{t.subject}}<span style="color:Gray;">&nbsp; &nbsp; -&nbsp; &nbsp; {{t.body}}</span></div>
                    </td>
                    <td>
                        {{getFormatDate(t.dueTime)}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
</body>
</html>