<!DOCTYPE html>
<html>
<head>
    <title>我创建的任务</title>
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/comment.css" />
    <!-- task scripts begin -->
    <script type="text/javascript" src="/js/Scripts/common.js"></script>
    <script type="text/javascript">
        if (isPhp) {
            currentUserId = '<{$currentUserId}>'; //TODO:Php替换<{$currentUserId}>
        }
        else {
            currentUserId = GetQueryString('userId');
        }
    </script>
    <script type="text/javascript" src="/js/Content/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/Content/js/json3.min.js"></script>
    <script type="text/javascript" src="http://w.taobao.ali.com/js/comment.js"></script>
    <script type="text/javascript" src="/js/Content/angular/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="/js/Content/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/Scripts/modules/aitatask.js"></script>
    <script type="text/javascript" src="/js/Scripts/controllers/getTasksByCreator.js"></script>
    <!-- end -->
</head>
<body>
    <div class="wrap ng-app:aitatask" id="ng-app" ng-app="aitatask">
        <!-- header:S -->
        <{include file="share/header.phtml"}>
        <!-- header:E -->
        <!-- taskmain:S-->
        <div class="main-box" ng-controller="GetTasksByCreatorCtrl">
			<{include file="task/left.phtml"}>
			<div class="task-right">
				<div class="nav">
					<span class="s1"><b>我创建的任务：</b></span>
					<span class="s2 hide-cooper" id="optionPanel" style="display:none;">
                        <a ng-class="meAssigntoMeIcon()" ng-Click="chooseMeAssigntoMe()">{{meAssigntoMe.name}}（{{meAssigntoMe.count}}）</a>
                        <a ng-class="meAssignToOtherIcon()" ng-Click="chooseMeAssignToOther()">{{meAssignToOther.name}}（{{meAssignToOther.count}}）</a>
                        <!--<a ng-class="sourceIcon(s)" ng-Click="chooseSource(s)" ng-repeat="s in sources">{{s.name}}（{{s.count}}）</a>-->
					</span>
					<div class="clearbox"></div>
				</div>
				<div class="paixu">
					<div class="paixu-2">
						<input type="text" id="task-keyword" value="搜索任务来源或摘要" />
					</div>
				</div>
				<div class="task-content" id="task-content">
					<div class="task-content-div task-content-div-t">
						<ul>
							<li class="l1"></li>
							<li class="l2">任务来源</li>
                            <li class="l6">当前处理人</li>
							<li class="l3">摘要</li>
							<li class="l5">期望完成时间</li>
						</ul>
					</div>
                    <div style="display:none;" id="task-loading">
                        <div class="mid-loading" style="text-align:center;padding-right:70px">loading</div>
                    </div>
                    <div class="task-content-div task-content-js" 
                            ng-repeat="t in tasks">
						<ul>
							<li class="l1"><i ng-class="completedIcon(t)"></i></li>
							<li class="l2 txtCut" title="{{t.source}}"><del ng-show="t.isCompleted==true">{{t.source}}</del>
                                <span ng-show="t.isCompleted==false">{{t.source}}</span></li>
							<li class="l6 txtCut">{{t.assignee}}&nbsp;</li>
                            <li class="l3 txtCut " style="width:430px" title="{{t.body}}">
                                <del ng-show="t.isCompleted==true"><a ng-href="{{openUrl(t)}}">{{t.subject}}</a>&nbsp;{{getDisplayLine(t.body)}}&nbsp;<a ng-href="{{openUrl(t)}}"><font color=#9D9D9D>{{t.body}}</font></a></del>
                                <span ng-show="t.isCompleted==false"><a ng-href="{{openUrl(t)}}">{{t.subject}}</a>&nbsp;{{getDisplayLine(t.body)}}&nbsp;<a ng-href="{{openUrl(t)}}"><font color=#9D9D9D>{{t.body}}</font></a></span>
                            </li>
							<li class="l5">
                                <div class="txtDate">{{getFormatDate(t.dueTime)}}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <div class="clearbox"></div>
        </div>
        <!-- taskmain:E-->
    </div>
</body>
</html>