<!DOCTYPE html>
<html>
<head>
    <title>待办任务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/comment.css" />    <!-- task scripts begin -->

    <link type="text/css" rel="Stylesheet" href="/content/css/base.css" />
    <script src="/Content/jquery/jquery-1.7.2.min.js"></script>
    <script src="/Content/angular/angular-1.0.1.min.js"></script>
    <script src="/Content/js/moment.min.js"></script>
    <script src="/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="/Scripts/enterprise.js"></script>
    <script src="/Scripts/modules/aitatask.js"></script>
    <script src="/Scripts/controllers/getTasksByAssignee.js"></script>
    <!-- end -->
</head>
<body>
    <div class="wrap" ng-app="aitatask">
            <!-- taskmain:S-->
            <div class="main-box" ng-controller="GetTasksByAssigneeCtrl">
				<div class="task-left">
					<div class="add-task-ico">
						<a href="/CreateTask.htm?userId={{userId}}" title="添加任务">+</a>
					</div>
					<div class="task-left-tag">
						<a class="a1 on" href="/GetTasksByAssignee.htm?userId={{userId}}">
							<span></span>
							待办任务
						</a>
						<a class="a2" href="/GetRelatedTasks.htm?userId={{userId}}">
							<span></span>
							相关任务
						</a>
						<a class="a3" href="/GetTasksByCreator.htm?userId={{userId}}">
							<span></span>
							我创建的任务
						</a>
					</div>
				</div>
				<div class="task-right">
					<div class="nav">
						<span class="s1"><b>待办任务：</b></span>
						<span class="s2 hide-cooper" id="optionPanel" style="display:none;">
                            <a ng-class="meAssigntoMeIcon()" ng-Click="chooseMeAssigntoMe()">{{meAssigntoMe.name}}（{{meAssigntoMe.count}}）</a>
                            <a ng-class="otherAssignToMeIcon()" ng-Click="chooseOtherAssignToMe()">{{otherAssignToMe.name}}（{{otherAssignToMe.count}}）</a>
                            <a ng-class="sourceIcon(s)" ng-Click="chooseSource(s)" ng-repeat="s in sources">{{s.name}}（{{s.count}}）</a>
						</span>
						<div class="clearbox"></div>
					</div>
					<div class="paixu">
						<div class="paixu-1" id="displayMode">
							<font color=#000>排序：</font>
							<a class="paixu-on" displayMode="1">默认</a>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<a displayMode="2">优先级</a>
						</div>
						<div class="paixu-2">
							<input type="text" id="task-keyword" placeholder="请输入关键字" />
						</div>
						<div class="paixu-3">
							<input type="checkbox" id="hideCompletedOption" style="vertical-align:middle"/><span style="vertical-align:middle">&nbsp;&nbsp;隐藏已完成任务</span>
						</div>
					</div>
					<div class="task-content" id="task-content">
						<div class="task-content-div task-content-div-t">
							<ul>
								<li class="l1"></li>
								<li class="l2">任务来源</li>
								<li class="l3">摘要</li>
								<li class="l5">完成时间/优先级</li>
							</ul>
						</div>
                        <div ng-show="equalDisplayMode(1)" class="task-content-div" 
                                ng-repeat="t in tasks">
							<ul>
								<li class="l1" ng-click="setIsCompleted(t,!t.isCompleted);"><i class="i1" ng-class="completedIcon(t)"></i></li>
								<li class="l2">{{t.source}}</li>
								<li class="l3"><a href="">{{t.subject}}</a>&nbsp;-&nbsp;<!--{{t.body}}--></li>
								<li class="l4"><i id="priority1_{{t.id}}" ng-click="showPriorityPanel(t,1)" ng-class="priorityIcon(t)"></i></li>
								<li class="l5">
									<input class="txtDate" type="text" onfocus="openDatePicker({{t}},this)" value="{{getFormatDate(t.dueTime)}}" size="16" readonly>
								</li>
							</ul>
						</div>
                        <div ng-show="equalDisplayMode(2)" ng-repeat="(key,value) in taskDict">
                            <div class="task-content-date">
							    <b>{{getPriorityName(key)}}</b>
						    </div>
                            <div class="task-content-div" ng-repeat="t in value">
							    <ul>
								    <li class="l1" ng-click="setIsCompleted(t,!t.isCompleted);"><i class="i1" ng-class="completedIcon(t)"></i></li>
								    <li class="l2">{{t.source}}</li>
								    <li class="l3"><a href="">{{t.subject}}</a>&nbsp;-&nbsp;<!--{{t.body}}--></li>
								    <li class="l4"><i id="priority2_{{t.id}}" ng-click="showPriorityPanel(t,2)" ng-class="priorityIcon(t)"></i></li>
								    <li class="l5">
									    <input class="txtDate" type="text" onfocus="openDatePicker({{t}},this)" value="{{getFormatDate(t.dueTime)}}" size="16" readonly>
								    </li>
							    </ul>
						    </div>
                        </div>	         
					</div>
				</div>
                <div class="clearbox"></div>
            </div>
            <!-- taskmain:E-->
        </div>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/jq.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/jquery.uploadify.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/comment.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/textareaSelect.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/imgRotate.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/userCard.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/emConf.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/emotion.js"></script>
        <script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/dailog.js"></script>
		<script type="text/javascript" src="http://itsrv.taobao.ali.com/ui/basejs/js/datePicker/WdatePicker.js"></script>
        
    
    <script type="text/javascript">
        var url_changeDueTime = 'url_changeDueTime';
        function openDatePicker(task, element) {
            var taskId = task.id;
            var elementId = element.id;
            WdatePicker(
                {
                    el: elementId,
                    dateFmt: 'yyyy-MM-dd',
                    errDealMode: 2,
                    oncleared: function () {
                        $(element).val('待定');

                        var data = {
                            id: taskId,
                            dueTime: null
                        };
                        $.get('/Handlers/UrlMapHandler.ashx?url=' + url_changeDueTime, data, function (result) {
                            var obj = angular.fromJson(result);
                            if (obj.state == 0) {

                            }
                            else {
                                alert(result.data);
                            }
                        });
                    },
                    onpicked: function () {
                        var longdate = $(element).val();
                        var shortdate = moment($(element).val()).format('MM-DD');
                        $(element).val(shortdate);
                        var data = {
                            id: taskId,
                            dueTime: longdate
                        };
                        $.get('/Handlers/UrlMapHandler.ashx?url=' + url_changeDueTime, data, function (result) {
                            var obj = angular.fromJson(result);
                            if (obj.state == 0) {

                            }
                            else {
                                alert(result.data);
                            }
                        });
                    }
                });
        }
      
//        function openWdatePicker(taskId) {
//            var elementId = 'picker_' + taskId;
//            WdatePicker(
//                {
//                    el: elementId,
//                    dateFmt: 'yyyy-MM-dd',
//                    errDealMode: 2,
//                    oncleared: function () {
//                        $('#' + elementId).html('待定');

//                        var data = {
//                            id: taskId,
//                            dueTime: null
//                        };
//                        $.get('/Handlers/UrlMapHandler.ashx?url=' + url_changeDueTime, data, function (result) {
//                            var obj = angular.fromJson(result);
//                            if (obj.state == 0) {
//                                
//                            }
//                            else {
//                                alert(result.data);
//                            }
//                        });
//                    },
//                    onpicked: function () {
//                        var longdate = $('#' + elementId).html();
//                        var shortdate = moment($('#' + elementId).html()).format('MM-DD');
//                        $('#' + elementId).html(shortdate);
//                        var data = {
//                            id: taskId,
//                            dueTime: longdate
//                        };
//                        $.get('/Handlers/UrlMapHandler.ashx?url=' + url_changeDueTime, data, function (result) {
//                            var obj = angular.fromJson(result);
//                            if (obj.state == 0) {
//                                
//                            }
//                            else {
//                                alert(result.data);
//                            }
//                        });
//                    }
//                });
//            }

//            function showPriorityPanel(task) {
//                alert('1');
// 

//                $('#priority_' + task.id).tooltip({
//                    placement: 'top',
//                    trigger: 'hover',
//                    title: 'test'
//                })
//            }
    </script>
</body>
</html>