<!DOCTYPE html>
<html>
<head>
    <title>待办任务</title>
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/comment.css" />
    <!-- task scripts begin -->
    <script type="text/javascript" src="/js/Scripts/common.js"></script>
    <script type="text/javascript">
        if (isPhp) {
            currentUserId = '<{$currentUserId}>'; //TODO:Php替换<{$currentUserId}>
        }
        else {
            currentUserId = GetQueryString('userId');
        }
    </script>
    <script type="text/javascript" src="/js/Content/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/Content/js/json3.min.js"></script>
    <script type="text/javascript" src="http://w.taobao.ali.com/js/comment.js"></script>
    <script type="text/javascript" src="/js/Content/angular/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="/js/Content/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/Scripts/modules/aitatask.js"></script>
    <script type="text/javascript" src="/js/Scripts/controllers/getTasksByAssignee.js"></script>
    <!-- end -->
</head>
<body>
    <div class="wrap ng-app:aitatask" id="ng-app" ng-app="aitatask">
        <!-- header:S -->
        <{include file="share/header.phtml"}>
        <!-- header:E -->
        <!-- taskmain:S-->
        <div class="main-box" ng-controller="GetTasksByAssigneeCtrl">
            <{include file="task/left.phtml"}>
			<div class="task-right">
				<div class="nav">
					<span class="s1"><b>待办任务：</b></span>
					<span class="s2 hide-cooper" id="optionPanel" style="display:none;">
                        <a ng-class="meAssigntoMeIcon()" ng-Click="chooseMeAssigntoMe()">{{meAssigntoMe.name}}（{{meAssigntoMe.count}}）</a>
                        <a ng-class="otherAssignToMeIcon()" ng-Click="chooseOtherAssignToMe()">{{otherAssignToMe.name}}（{{otherAssignToMe.count}}）</a>
                        <a ng-class="sourceIcon(s)" ng-Click="chooseSource(s)" ng-repeat="s in sources">{{s.name}}（{{s.count}}）</a>
					</span>
					<div class="clearbox"></div>
				</div>
				<div class="paixu">
					<div class="paixu-1" id="displayMode">
						<font color=#000>排序：</font>
						<a class="paixu-on" displayMode="1">默认</a>
						&nbsp;&nbsp;|&nbsp;&nbsp;
						<a displayMode="2">优先级</a>
					</div>
					<div class="paixu-2">
						<input type="text" id="task-keyword" value="搜索任务来源或摘要" />
					</div>
					<div class="paixu-3">
						<input type="checkbox" id="hideCompletedOption" style="vertical-align:middle" checked="checked" /><span style="vertical-align:middle">&nbsp;&nbsp;隐藏已完成任务</span>
					</div>
				</div>
				<div class="task-content" id="task-content">
					<div class="task-content-div task-content-div-t">
						<ul>
							<li class="l1"></li>
							<li class="l2">任务来源</li>
							<li class="l3">摘要</li>
							<li class="l5">期望完成时间/优先级</li>
						</ul>
					</div>
                    <div style="display:none;" id="task-loading">
                        <div class="mid-loading" style="text-align:center;padding-right:70px">loading</div>
                    </div>
                    <div ng-show="equalDisplayMode(1)" class="task-content-div task-content-js" 
                            ng-repeat="t in tasks">
						<ul>
							<li class="l1" ng-click="setIsCompleted(t,!t.isCompleted);"><i ng-class="completedIcon(t)"></i></li>
							<li class="l2 txtCut " title="{{t.source}}"><del ng-show="t.isCompleted==true">{{t.source}}</del>
                            <span ng-show="t.isCompleted==false">{{t.source}}</span></li>
							<li class="l3 txtCut " style="width:500px" title="{{t.body}}">
                                <del ng-show="t.isCompleted==true"><a ng-href="{{openUrl(t)}}">{{t.subject}}</a>&nbsp;{{getDisplayLine(t.body)}}&nbsp;<a ng-href="{{openUrl(t)}}"><font color=#9D9D9D>{{t.body}}</font></a></del>
                                <span ng-show="t.isCompleted==false"><a ng-href="{{openUrl(t)}}">{{t.subject}}</a>&nbsp;{{getDisplayLine(t.body)}}&nbsp;<a ng-href="{{openUrl(t)}}"><font color=#9D9D9D>{{t.body}}</font></a></span>
                            </li>
							<li class="l4"><i id="priority1_{{t.id}}" ng-click="showPriorityPanel(t,1)" ng-class="priorityIcon(t)">{{getFormatPriority(t.priority)}}</i></li>
							<li class="l5">
                                <div id="divDueTime1_{{t.id}}" class="txtDate d1" onclick="openDatePicker({{t}},1)">{{getFormatDate(t.dueTime)}}</div>
                                <input id="txtDueTime1_{{t.id}}" type="text" value="{{getTxtFormatDate(t.dueTime)}}" style="display:none;" />
							</li>
						</ul>
					</div>
                    <div ng-show="equalDisplayMode(2)" ng-repeat="(key,value) in taskDict" class="task-content-js">
                        <div class="task-content-date">
							<b>{{getPriorityName(key)}}</b>
						</div>
                        <div class="task-content-div" ng-repeat="t in value">
							<ul>
								<li class="l1" ng-click="setIsCompleted(t,!t.isCompleted);"><i ng-class="completedIcon(t)"></i></li>
								<li class="l2" title="{{t.source}}"><del ng-show="t.isCompleted==true">{{t.source}}</del>
                                <span ng-show="t.isCompleted==false">{{t.source}}</span></li>
								<li class="l3 txtCut " style="width:500px" title="{{t.body}}">
                                    <del ng-show="t.isCompleted==true"><a ng-href="{{openUrl(t)}}">{{t.subject}}</a>&nbsp;{{getDisplayLine(t.body)}}&nbsp;<a ng-href="{{openUrl(t)}}"><font color=#9D9D9D>{{t.body}}</font></a></del>
                                <span ng-show="t.isCompleted==false"><a ng-href="{{openUrl(t)}}">{{t.subject}}</a>&nbsp;{{getDisplayLine(t.body)}}&nbsp;<a ng-href="{{openUrl(t)}}"><font color=#9D9D9D>{{t.body}}</font></a></span>
                                </li>
								<li class="l4"><i id="priority2_{{t.id}}" ng-click="showPriorityPanel(t,2)" ng-class="priorityIcon(t)">{{getFormatPriority(t.priority)}}</i></li>
								<li class="l5">
									<div id="divDueTime2_{{t.id}}" class="txtDate d1" onclick="openDatePicker({{t}},2)">{{getFormatDate(t.dueTime)}}</div>
                                    <input id="txtDueTime2_{{t.id}}" type="text" value="{{getTxtFormatDate(t.dueTime)}}" style="display:none;" />
								</li>
							</ul>
						</div>
                    </div>	         
				</div>
			</div>
            <div class="clearbox"></div>
        </div>
        <!-- taskmain:E-->
    </div>

    <script type="text/javascript">
        var map_url = isPhp ? '/task/request' : '/Handlers/UrlMapHandler.ashx'; //TODO:Php
        var changeDueTime_call = isPhp ? 'ChangeDueTime' : 'url_changeDueTime'; //TODO:Php
        function openDatePicker(task, tag) {
            $("#ring-color").hide();
            var taskId = task.id;
            var elementId = 'txtDueTime' + tag + '_' + taskId;
            //var elementId = element.id;
            WdatePicker(
                {
                    el: elementId,
                    dateFmt: 'yyyy-MM-dd',
                    onpicked: function () {
                        var loginDate = $('#' + elementId).val();
                        var selYear = moment(loginDate).format('YYYY');
                        var date = new Date();
                        var nowYear = date.getFullYear();
                        $('#' + elementId).val(loginDate);
                        var realDate = null;
                        if (selYear == nowYear) {
                            realDate = moment(loginDate).format('MM-DD');
                        }
                        else {
                            realDate = loginDate;
                        }
                        $('#divDueTime' + tag + '_' + taskId).html(realDate);
                        var data = {
                            id: taskId,
                            dueTime: loginDate,
                            call: changeDueTime_call
                        };
                        var url = isPhp ? map_url + '?_=' + new Date().getTime()
                            : map_url + '?url=' + changeDueTime_call + '&_=' + new Date().getTime();
                        $.get(url, data, function (result) {
                            var obj = angular.fromJson(result);
                            if (obj.state == 0) {

                            }
                            else {
                                alert(result.data);
                            }
                        });

                    },
                    oncleared: function () {
                        $('#divDueTime' + tag + '_' + taskId).html('待定');
                        $('#' + elementId).val('');

                        var data = {
                            id: taskId,
                            dueTime: null,
                            call: changeDueTime_call
                        };
                        var url = isPhp ? map_url + '?_=' + new Date().getTime()
                            : map_url + '?url=' + changeDueTime_call + '&_=' + new Date().getTime();
                        $.get(url, data, function (result) {
                            var obj = angular.fromJson(result);
                            if (obj.state == 0) {

                            }
                            else {
                                alert(result.data);
                            }
                        });
                    }
                });
        }
    </script>
</body>
</html>