<!DOCTYPE html>
<html>
<head>
    <title>任务详情</title>
    <link type="text/css" rel="Stylesheet" href="/content/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="Stylesheet" href="/content/bootstrap/css/datepicker.css" />
    <link type="text/css" rel="Stylesheet" href="/content/css/base.css" />
    <script type="text/javascript" src="/Content/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://ifree.alibaba-inc.com/TaskManage/Resources/Scripts/jquery.json.js"></script>
    <script type="text/javascript" src="http://wfstatic.alibaba-inc.com/resources/public/js/jquery-ui-min.js"></script>
    <script type="text/javascript" src="http://wfstatic.alibaba-inc.com/resources/public/js/jscore-min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://wfstatic.alibaba-inc.com/resources/mvcres/style/default/base.css" />
    <link type="text/css" rel="stylesheet" href="http://wfstatic.alibaba-inc.com/resources/mvcres/style/ui/base/jquery.ui.all.css" />
    <link type="text/css" rel="stylesheet" href="http://wfstatic.alibaba-inc.com/resources/public/css/jscore/jscore.css" />
    <link type="text/css" rel="stylesheet" href="http://wfstatic.alibaba-inc.com/resources/public/css/jscore/ui.css" />
    <script type="text/javascript" src="/Content/angular/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/Content/js/moment.min.js"></script>
    <script type="text/javascript" src="/Scripts/modules/aitatask.js"></script>
    <script type="text/javascript" src="/Scripts/controllers/taskInfo.js"></script>
</head>
<body>
    <div id="main" class="container-fluid" style="margin-top: 10px;" ng-app="aitatask">
        <div ng-controller="TaskInfoCtrl">
            <h4>
                返回</h4>
            <div>
                <button id="eidtBtn" class="btn" ng-show="!editMode" ng-click="enterEditMode()">
                    编辑</button>
                <button id="saveBtn" class="btn" ng-show="editMode" ng-click="save()">
                    保存</button>
                <button id="transaferBtn" class="btn" ng-click="openTransaferDialog()">
                    转交他人</button>
            </div>
            <hr />
            <table id="view" class="detail" ng-show="!editMode">
                <tbody>
                    <tr>
                        <td>
                            {{ subject }}，优先级：{{ priority }}，是否完成：{{ isCompleted }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ body }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            创建人：{{ creator }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            分配给：{{ assignee }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            相关人员：{{ related }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            期望完成日期：{{ duetime }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="edit" class="detail" ng-show="editMode">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <input id="subject" type="text" class="detail-title" ng-model="subject" maxlength="500"
                                style="width: 500px" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="body" class="detail-note" rows="5" ng-model="body" style="width: 508px"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="detail-item ng-binding">
                            分配给
                        </td>
                        <td class="detail-content">
                            <div class="selector selector-toggle" id="assigneeSelector" style="width: 438px">
                                <ol class="tokenList">
                                    <li>
                                        <input type="hidden" id="assigneeUserId" name="assigneeUserId" value="" friendname=""
                                            data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                        <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                    </li>
                                </ol>
                                <div class="dropWrap">
                                    <div class="popLayer" style="display: none;">
                                        <div class="decor">
                                        </div>
                                        <div class="content">
                                            <ul class="dropList">
                                                <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="">
                        <td class="detail-item ng-binding">
                            相关人员
                        </td>
                        <td class="detail-content">
                            <div class="selector selector-toggle" id="relatedSelector" style="width: 438px">
                                <ol class="tokenList">
                                    <li>
                                        <input type="hidden" id="relatedUserIds" name="relatedUserIds" value="" friendname=""
                                            data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                        <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                    </li>
                                </ol>
                                <div class="dropWrap">
                                    <div class="popLayer" style="display: none;">
                                        <div class="decor">
                                        </div>
                                        <div class="content">
                                            <ul class="dropList">
                                                <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="detail-item ng-binding">
                            紧急度
                        </td>
                        <td class="detail-content">
                            <div id="priority" class="btn-group" data-toggle="buttons-radio" title="指定任务希望在何时处理">
                                <button class="btn active" title="" value="0">
                                    <i class="icon-time"></i>
                                </button>
                                <button class="btn" title="" value="1">
                                    <i class="icon-tag"></i>
                                </button>
                                <button class="btn" title="" value="2">
                                    <i class="icon-pause"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="detail-item ng-binding">
                            期望完成日期
                        </td>
                        <td class="detail-content">
                            <input id="duetime" type="text" class="input-small" value="" ng-model="duetime" onfocus="WdatePicker({el: 'duetime'});" />
                            <i class="icon-bell"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
