<!DOCTYPE html>
<html>
<head>
    <title>任务详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/comment.css" />
    <link rel="stylesheet" type="text/css" href="http://w.taobao.ali.com/css/selector.css" />

    <script type="text/javascript" src="/js/Scripts/common.js"></script>
    <script type="text/javascript">
        if (isPhp) {
            currentUserId = '<{$currentUserId}>';
            currentTaskId = '<{$currentTaskId}>';
        }
        else {
            currentUserId = GetQueryString('userId');
            currentTaskId = GetQueryString('taskId');
        }
    </script>

    <script type="text/javascript" src="/js/Content/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/Content/js/json3.min.js"></script>
    <script type="text/javascript" src="http://w.taobao.ali.com/js/comment.js"></script>
    <script type="text/javascript" src="http://wfstatic.alibaba-inc.com/resources/public/js/jscore-min.js"></script>
    <script type="text/javascript" src="/js/Content/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/Content/angular/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="/js/Scripts/modules/aitatask.js"></script>
    <script type="text/javascript" src="/js/Scripts/controllers/taskInfo.js"></script>
</head>
<body>
    <div class="wrap ng-app:aitatask" id="ng-app" ng-app="aitatask">
        <!-- header:S -->
        <{include file="share/header.phtml"}>
        <!-- header:E -->
        <!-- taskmain:S-->
        <div class="main-box" ng-controller="TaskInfoCtrl">
            <{include file="task/left.phtml"}>
            <div class="task-right">
                <p class="task-detail-return">
                    <a ng-click="back()">返回</a>
                </p>
                <div class="task-detail-content" ng-show="!editMode">
                    <p class="tit">
                        {{ subject }}
                        <i id="priorityIcon" class="">{{ displayPriority }}</i>
                    </p>
                    <div class="task-detail-but">
                        <a class="task-detail-but-no" id="task-complete">完成</a>&nbsp;&nbsp;
                        <!--<a class="task-detail-but-yes" id="task-complete">已完成</a>-->
                        <a class="task-detail-but2" id="task-detail-but2">&nbsp;</a>
                        <div class="task-alert-action" id="task-alert-action" style="display: none;">
                            <s><i></i></s><a href="" ng-click="enterTransferMode()">转交给他人</a> <a href="javascript:void(0)" ng-click="enterEditMode()">
                                编辑</a>
                        </div>
                    </div>
                    <p class="task-detail-con">
                        {{ body }}
                    </p>
                    <p class="task-detail-info">
                        <span>创建人：</span>{{ creator }}<br />
                        <span style="float:left;">分配给：</span><span style="float:left;color:#202020;" ng-show="!isTransferingToOther">{{ assignee }}</span>
                        <div class="selector selector-toggle" id="assigneeSelector_forTransfor" ng-show="isTransferingToOther" style="float:left;width:250px;display:inline-block">
                            <ol class="tokenList" style="width: 200px;">
                                <li>
                                    <input type="hidden" id="assigneeUserId_forTransfor" name="assigneeUserId_forTransfor" value="" friendname="" data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                    <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                </li>
                            </ol>
                            <div class="dropWrap">
                                <div class="popLayer" style="display: none;">
                                    <div class="decor">
                                    </div>
                                    <div class="content">
                                        <ul class="dropList">
                                            <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float:left;display:inline-block;padding-top:5px;" ng-show="isTransferingToOther">
                            <input type="button" value="确认" class="task-edit-bt1" ng-click="save()">&nbsp;&nbsp;
                            <input type="button" value="取消" class="task-edit-bt2" ng-click="leaveTransferMode()">
                        </div>
                    </p>
                    <p class="task-detail-info" style="clear:both;padding-top:0px;">
                        <span>相关人员：</span>{{ related }}<br />
                        <span>期望完成日期：</span>{{ duetime }}
                    </p>
                </div>
                <div class="task-detail-content" ng-show="editMode">
                    <p class="tit">
                        任务编辑：
                    </p>
                    <div class="task-edit">
                        <ul>
                            <li class="task-edit-left">任务标题： </li>
                            <li class="task-edit-right">
                                <input id="subject" type="text" class="task-edit-title" ng-model="subject" maxlength="500" />
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">任务描述： </li>
                            <li class="task-edit-right">
                                <textarea id="body" class="task-edit-note" ng-model="body"></textarea>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">分配给： </li>
                            <li class="task-edit-right">
                                <div class="selector selector-toggle" id="assigneeSelector" style="width: 438px">
                                    <ol class="tokenList" style="width: 150px;">
                                        <li>
                                            <input type="hidden" id="assigneeUserId" name="assigneeUserId" value="" friendname=""
                                                data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                            <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                        </li>
                                    </ol>
                                    <div class="dropWrap">
                                        <div class="popLayer" style="display: none;">
                                            <div class="decor">
                                            </div>
                                            <div class="content">
                                                <ul class="dropList">
                                                    <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">相关人员： </li>
                            <li class="task-edit-right">
                                <div class="selector selector-toggle" id="relatedSelector" style="width: 438px">
                                    <ol class="tokenList" style="width: 670px">
                                        <li>
                                            <input type="hidden" id="relatedUserIds" name="relatedUserIds" value="" friendname=""
                                                data-val=""><!-- 接收选中的Id值，name或id请自定义 -->
                                            <input autocomplete="off" accesskey="s" type="text" style="width: 25px;">
                                        </li>
                                    </ol>
                                    <div class="dropWrap">
                                        <div class="popLayer" style="display: none;">
                                            <div class="decor">
                                            </div>
                                            <div class="content">
                                                <ul class="dropList">
                                                    <li class="default"><span>请输入花名(支持拼音首字母)</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">完成日期： </li>
                            <li class="task-edit-right">
                                <input id="duetime" type="text" class="input-small" value="" ng-model="duetime" onFocus="WdatePicker({el: 'duetime'});"
                                    readonly />
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">紧急度： </li>
                            <li class="task-edit-right task-edit-yx"><i class="ring-gray" value="" id="task-yx-color">
                            </i>
                                <div class="task-edit-float" id="task-edit-float">
                                    <s><i></i></s>
                                    <div>
                                        <i class="ring-red">1</i><span>尽快完成</span></div>
                                    <div>
                                        <i class="ring-yellow">2</i><span>稍后完成</span></div>
                                    <div>
                                        <i class="ring-blue">3</i><span>迟些再说</span></div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="task-edit-left">&nbsp;</li>
                            <li class="task-edit-right">
                                <input type="button" value="确认" class="task-edit-bt1" ng-click="save()">&nbsp;&nbsp;
                                <input type="button" value="取消" class="task-edit-bt2" ng-click="enterViewMode()">
                            </li>
                        </ul>
                        <div class="clearbox">
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                这里是评论，使用现有样式和功能<br />
                <br />
                <br />
            </div>
            <div class="clearbox">
            </div>
        </div>
        <!-- taskmain:E-->
    </div>
    <script type="text/javascript">

        $(function () {
            $("#task-detail-but2").click(function () {
                var this0 = this;
                $("#task-alert-action").show();
                $(document).unbind("click").click(function (e) {
                    this0 == e.target || $("#task-alert-action").get(0) == e.target || jQuery.contains($("#task-alert-action").get(0), e.target) || $("#task-alert-action").hide();
                });
            });

            $("#task-yx-color").click(function () {
                var this0 = this;
                $("#task-edit-float").show();
                $(document).unbind("click").click(function (e) {
                    this0 == e.target || $("#task-edit-float").get(0) == e.target || jQuery.contains($("#task-edit-float").get(0), e.target) || $("#task-edit-float").hide();
                });
            });

            $("#task-edit-float div").click(function () {
                $("#task-yx-color").attr("class", $(this).find("i").attr("class"));
                $("#task-yx-color").attr("value", $(this).find("i").text());
                $("#task-yx-color").text($(this).find("i").text());
                $("#task-edit-float").hide();
            });
        });

    </script>
</body>
</html>
