body {
	
}
.hide-cooper
{
    display: none;
}

ul.nav-tabs {
	background-color: #fff;
}
.container-fluid .option
{
}
.container-fluid .option button
{
    margin-bottom:4px;
}
.container-fluid .option button.source
{
    margin-right:4px;
    
}
.todolist
{
    font-size: 12px;
}
.todolist td 
{
    line-height: 25px;
}
.todolist .row_header 
{
}
.todolist .row_body
{
}
.todolist .row_header .cell_isCompleted 
{
    width: 30px;
    margin-top:5px;
}
.todolist .row_body .cell_isCompleted i
{
    
}
.todolist .row_header .cell_source
{
    width: 150px;
}
.todolist .row_header .cell_assignee
{
    width: 150px;
}
.todolist .row_body .cell_summary
{
    cursor:pointer;
}
.summary
{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.todolist .row_header .cell_dueTime
{
    width: 150px;
}
.btn-primary {
  background-color: #0074cc;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-image: linear-gradient(top, #0088cc, #0055cc);
    border-left-color: #0055cc;
    border-right-color: #0055cc;
    border-top-color: #0055cc;
    border-bottom-color: #003580;
}